<!--prouct-count-->
  
{{ 'jquery.downCount.js' | asset_url | script_tag }}


<div class="counter_box">

   <input type="hidden" class="timer_time_reset_day_{{ section.id }} timer_time_{{ section.id }}" value="120" />                 
   <input type="hidden"  class="total_stock_left_num_{{ section.id }}" value="{{ section.settings.timer_top_message_value_num }}" />
   <input type="hidden" id="stock_left_num" class="reset_day_Left_number_{{ section.id }} stock_left_num_{{ section.id }}" value="" />
 
  
          <script>
			
            Number.prototype.padLeft = function(base,chr){
                         var  len = (String(base || 10).length - String(this).length)+1;
                         return len > 0? new Array(len).join(chr || '0')+this : this;
                              }
   
                           // setting time reset every day
                        var resttime_{{ section.id }}="{{section.settings.enable_timer_reset_every_day}}";
						var someDate = new Date();	
						var ddNextDays = someDate.getDate()+1;
						var dd = someDate.getDate();
						var mm = someDate.getMonth()+ 1;
						var y = someDate.getFullYear();
                        var H=someDate.getHours().padLeft(); 
                        var m=someDate.getMinutes().padLeft(); 
                        var s=someDate.getSeconds().padLeft(); 
					
				        var NextDate = new Date(Date.now()+1*24*60*60*1000);
                        var ddN = NextDate.getDate();
				        var mmN = NextDate.getMonth()+ 1;
				        var yN = NextDate.getFullYear();

				        var nextdayDate = yN+'/'+mmN+'/'+ddN;
				        var startdayDate = y + '/'+ mm + '/'+ dd;
				       var NowTime=H+':'+m+':'+s;
						var TargetDate_{{ section.id }}=nextdayDate+" "+resttime_{{ section.id }};
						var StartDate_{{ section.id }}=startdayDate+" "+resttime_{{ section.id }};
						 var timeDate_{{ section.id }}='';
						if(NowTime < resttime_{{ section.id }}) {
						timeDate_{{ section.id }}=StartDate_{{ section.id }};
						} else{
						
						timeDate_{{ section.id }}=TargetDate_{{ section.id }};
						}
     
                 // start time with time diff.
        
                    var remainderTimeset ="86400";    
                    remainderTime= remainderTimeset*1000;
        
                 var ddd = new Date();
                 ddd.setTime(ddd.getTime());
                 var startTime1=ddd.toGMTString();	                    
                 var date1 = new Date(startTime1);
                 var date2 = new Date(timeDate_{{ section.id }});
                 var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                 var diffDays_{{ section.id }} = Math.ceil(timeDiff / (1000)); 
                 $(".timer_time_reset_day_{{ section.id }}").val(diffDays_{{ section.id }});    
               //  alert(diffDays_{{ section.id }});
                  // left number
 
            var left_number=$(".total_stock_left_num_{{ section.id }}").val();

           var getSecond=remainderTimeset/left_number;
               var nowLeftnumber=diffDays_{{ section.id }}/getSecond;
        if(nowLeftnumber <= 1){
          nowLeftnumber=1;
        }        
             $(".reset_day_Left_number_{{ section.id }}").val(nowLeftnumber);

             $(".count_lft_{{ section.id }}").text(Math.round(Number(nowLeftnumber)));

          var secondDiff=parseInt(diffDays_{{ section.id }})+4;
       
              setTimeout(function(){
              location.reload(true);
              }, secondDiff*1000);
            
</script>
  
  {% if section.settings.enable_timer_model == 'timer_model1' %}
 
 {{ 'jquery.countdownTimer.js' | asset_url | script_tag }}

          <script>
        
            function model1() {
              $('#feature_timer_1_{{ section.id }}').countdowntimer({
                dateAndTime : timeDate_{{ section.id }},
                size : "lg",
                regexpMatchFormat: "([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2})",
                regexpReplaceWith: "<samp>$1</samp><span>:</span><samp>$2</samp><span>:</span><samp>$3</samp><span>:</span><samp>$4</samp>" });
            }
            $(document).ready(function(){
              model1();
            });
            $(document)
            .on('shopify:section:select', model1 )
            ;
            $(document)
            .on('shopify:section:deselect', model1 )
            ;
            

          </script>

          <table id="timertwohour">

            <tr>
              <td><span class="cokies1_timer" id="feature_timer_1_{{ section.id }}"></span></td>
            </tr>

            <tr>
              <td>
                <span class="home_tm_lbl_cok">{{ 'products.timer.day' | t }}</span>
                <span class="home_tm_sap_cok">&nbsp;</span>
                <span class="home_tm_lbl_cok">{{ 'products.timer.hour' | t }}</span>
                <span class="home_tm_sap_cok">&nbsp;</span>
                <span class="home_tm_lbl_cok">{{ 'products.timer.minute' | t }}</span>
                <span class="home_tm_sap_cok">&nbsp;</span>
                <span class="home_tm_lbl_cok">{{ 'products.timer.second' | t }}</span>
              </td>
            </tr>
          </table>


     {% elsif section.settings.enable_timer_model == 'timer_model2' %}


  {{ 'flipclock.js' | asset_url | script_tag }}
{{ 'flipclock.css' | asset_url | stylesheet_tag }}
          <div class="clock feature_timer_2_{{ section.id }}"></div>

          <script type="text/javascript">
  
          //  var time_minute={{ section.settings.enable_timer_stg_custom }};
            function model2(){
            var clock = $('.feature_timer_2_{{ section.id }}').FlipClock(diffDays_{{ section.id }}, {
              countdown: true
            });
            }
              $(document).ready(function(){
              model2();
            });
            $(document)
            .on('shopify:section:select', model2 )
            ;
            $(document)
            .on('shopify:section:deselect', model2 )
            ;
         
          </script>


     {% elsif section.settings.enable_timer_model == 'timer_model3' %}
    
 {{ 'jquery.countdownTimer.js' | asset_url | script_tag }}

           <script>
          
             function model3(){
              $('#feature_timer_3_{{ section.id }}').countdowntimer({
               dateAndTime : timeDate_{{ section.id }},
               size : "lg",
               regexpMatchFormat: "([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2})",
               regexpReplaceWith: "<samp>$1</samp><span>:</span><samp>$2</samp><span>:</span><samp>$3</samp><span>:</span><samp>$4</samp>"});
             }
              $(document).ready(function(){
              model3();
            });
             $(document)
             .on('shopify:section:select', model3 )
             ;
              $(document)
             .on('shopify:section:deselect', model3 )
             ;
       
            
          </script>



          <table class="model3 medel3cokkies" id="timertwohourcokkies">

            <tr>
              <td colspan="4"><span class="hm_timer" id="feature_timer_3_{{ section.id }}"></span></td>
            </tr>
            <tr>  
              <td >{{ 'products.timer.day' | t }} </td>
              <td >{{ 'products.timer.hour' | t }}</td>
              <td >{{ 'products.timer.minute' | t }}</td>
              <td >{{ 'products.timer.second' | t }}</td>
            </tr>
          </table>



     {% elsif section.settings.enable_timer_model == 'timer_model4' %}

{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}


<div id="model4" class="countdown_{{ section.id }} countdown-container container model44">
    <div class="clock row">
        <div class="clock-item clock-days countdown-time-value grid__item large--one-quarter medium--one-half">
            <div class="wrap">
                <div class="inner">
                    <div id="canvas-days" class="clock-canvas"></div>

                    <div class="text">
                        <p class="val">0</p>
                        <p class="type-days type-time">{{ 'products.timer.day' | t }}</p>
                    </div><!-- /.text -->
                </div><!-- /.inner -->
            </div><!-- /.wrap -->
        </div><!-- /.clock-item -->

        <div class="clock-item clock-hours countdown-time-value grid__item large--one-quarter medium--one-half">
            <div class="wrap">
                <div class="inner">
                    <div id="canvas-hours" class="clock-canvas"></div>

                    <div class="text">
                        <p class="val">0</p>
                        <p class="type-hours type-time">{{ 'products.timer.hour' | t }}</p>
                    </div><!-- /.text -->
                </div><!-- /.inner -->
            </div><!-- /.wrap -->
        </div><!-- /.clock-item -->

        <div class="clock-item clock-minutes countdown-time-value grid__item large--one-quarter medium--one-half">
            <div class="wrap">
                <div class="inner">
                    <div id="canvas-minutes" class="clock-canvas"></div>

                    <div class="text">
                        <p class="val">0</p>
                        <p class="type-minutes type-time">{{ 'products.timer.minute' | t }}</p>
                    </div><!-- /.text -->
                </div><!-- /.inner -->
            </div><!-- /.wrap -->
        </div><!-- /.clock-item -->

        <div class="clock-item clock-seconds countdown-time-value grid__item large--one-quarter medium--one-half">
            <div class="wrap">
                <div class="inner">
                    <div id="canvas-seconds" class="clock-canvas"></div>

                    <div class="text">
                        <p class="val">0</p>
                        <p class="type-seconds type-time">{{ 'products.timer.second' | t }}</p>
                    </div><!-- /.text -->
                </div><!-- /.inner -->
            </div><!-- /.wrap -->
        </div><!-- /.clock-item -->
    </div><!-- /.clock -->
</div><!-- /.countdown-wrapper -->


{{ 'kinetic.js' | asset_url | script_tag }}
 {{ 'jquery.final-countdown.js' | asset_url | script_tag }}


<script type="text/javascript">  
  function scrpt() {
 var time_minute={{ section.settings.enable_timer_stg_custom }};

var todayDate = '2016/09/14 00:00:00';

var todayDdate  = new Date(todayDate);

var today_time  = todayDdate.getTime()/1000;

var target_time=todayDdate.getTime()+time_minute*1000;
var target_time=target_time/1000;

    $('document').ready(function() {
        'use strict'; 
    	$('.countdown_{{ section.id }}').final_countdown({
            'start': today_time,
            'end': target_time,
            'now': today_time        
        });
    });
  }
  $(document)
         .on('shopify:section:select', scrpt )
         ;
         $(document)
         .on('shopify:section:deselect', scrpt )
         ;
</script>


     {% elsif section.settings.enable_timer_model == 'timer_model5' %}


{{ 'jquery.countdownTimer.js' | asset_url | script_tag }}

       <script>
         
           function model4() {
              $('#feature_timer_4_{{ section.id }}').countdowntimer({
               dateAndTime : timeDate_{{ section.id }},
               size : "lg",
               regexpMatchFormat: "([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2})",
               regexpReplaceWith: "<td><span>$1</span></td><td colspan='3'><span id='hm_timer'><samp>$2</samp><span></span><samp>$3</samp><span></span><samp>$4</samp></span></td>"});
            }
         $(document)
         .on('shopify:section:select', model4 )
         ;
         $(document)
         .on('shopify:section:deselect', model4 )
         ;
       
          </script>



          <table class="model5" id="timertwohour">

            <tr id="feature_timer_4_{{ section.id }}">
            </tr>

            <tr>
              <td >{{ 'products.timer.day' | t }} </td>
              <td >{{ 'products.timer.hour' | t }}</td>
              <td >{{ 'products.timer.minute' | t }}</td>
              <td >{{ 'products.timer.second' | t }}</td>
            </tr>
          </table>

     {% elsif section.settings.enable_timer_model == 'timer_model6' %}


{{ 'jquery.countdownTimer.js' | asset_url | script_tag }}

        <script>
         
            $(function(){
              $('#feature_timer_5_{{ section.id }}').countdowntimer({
               dateAndTime : timeDate_{{ section.id }},
               size : "lg",
               regexpMatchFormat: "([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2})",
               regexpReplaceWith: "<td><span>$1</span></td><td colspan='3'><span id='hm_timer'><span>$2</span><i>..</i><span>$3</span><i>..</i><span>$4</span></span></td>"});
            });
        $(document)
         .on('shopify:section:select', model5 )
         ;
         $(document)
         .on('shopify:section:deselect', model5 )
         ;
       
          </script>


          <table class="model6" id="timertwohour">

             <tr id="feature_timer_5_{{ section.id }}" class="">
            </tr>

            <tr>
              <td >{{ 'products.timer.day' | t }} </td>
              <td >{{ 'products.timer.hour' | t }}</td>
              <td >{{ 'products.timer.minute' | t }}</td>
              <td >{{ 'products.timer.second' | t }}</td>
            </tr>
          </table>


    {% endif %}


  
  
</div>




 