<!-- for discount code pop up start-->

  {% if settings.discount_popup_enable %}
  
      {% if settings.discount_popup_disable_mobile %}
         {% assign  discountPopup = "nav-bar desktop_nav" %}  
      {% else %}
         {% assign  discountPopup = "" %}
      {% endif %}
 
  
<div class="{{ discountPopup }} modal fade" id="OfferCartpopup" style="padding-right:0px !important" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="body-left suc_hide {% if settings.discount_image_enable %}discount_image_enable{% endif %}">
          	<img src="{{ 'discount_icon.png' | asset_url }}">
          </div>
          <div class="body-right body-right-full">
            <div class="suc_hide">
              <span class="title">{{ settings.discount_popup_title }}</span>
              <div class="popp-msg">
                <span>
                  {{ settings.discount_popup_description1 }} 
                </span>
              </div>
            </div>
            <div class="popup-container">
              
                 {% form 'customer' %}
            
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
              
              <style>
                .suc_hide
                {
                  display: none;
                }
                .body-right.body-right-full{
                  width: 90%;
                }
                div#OfferCartpopup .modal-footer {
                  display: block;
                }
              </style>
              
              <div class="sub_msg">
               {{ settings.discount_popup_submit_text }}
              </div>

              
              
                  {% else %}
                    <div class="input-group">
                      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                      <input type="hidden" name="contact[tags]" value="discount">
                      <span class="input-group-btn customer_btn_popup">
                        <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.discount_submit' | t }}">
                      </span>
                    </div>
                  {% endif %}
                  {% endform %}   
              
            </div>    
            
            
            
          </div>
        </div>
        {% unless settings.discount_popup_link_text == blank %}
        <div class="modal-footer">
          <a href="{{ settings.discount_popup_link }}">{{settings.discount_popup_link_text}} </a>
        </div>
        {% endunless %}
      </div>
    </div>
    </div>
</div>
  <script type="text/javascript">
 
    
 function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}    
    
    var remainderTimeset2 ="{{ settings.discount_popup_time }}";
    
                       var  item_count = "{{ cart.item_count}}";
                       
  remainderTime2= remainderTimeset2*60*1000; 
function setCookie(cname,cvalue,exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (60*60*1000));
    var expires = "expires=" + d.toGMTString();
	var target_time=d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	document.cookie = "target_time=" + target_time +";";
}

function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

    var timeDate2=getCookie("discount_popup");
    if (timeDate2 != "") {
      //  alert("Welcome again " + user);
	  
	            
	           
	  
    } else {
				 var dd = new Date();
				 dd.setTime(dd.getTime() + (remainderTime2));
				 var endTime2=dd.toGMTString();	
				 timeDate2=endTime2;
                
           if (timeDate2 != "" && timeDate2 != null) {
           setCookie("discount_popup", timeDate2, 30);
           }
    }
	
	  var ddd = new Date();
                 ddd.setTime(ddd.getTime());
                 var startTime12=ddd.toGMTString();	                    
                 var date1_2 = new Date(startTime12);
                 var date2_2 = new Date(timeDate2);
                 var timeDiff2 = Math.abs(date2_2.getTime() - date1_2.getTime());
                 var diffDays2 = Math.ceil(timeDiff2 / (1000)); 
				// console.log(diffDays2);
	
    if(item_count==0)
      {
	      if(date2_2>date1_2){
	 	
             setTimeout(function(){
             // location.reload(true);
			 $('#OfferCartpopup').modal('show'); 
               setCookie("discount_popup_email",'yes','30');
                $('#OfferCartpopup').css("padding-right","0px"); 
              }, diffDays2*1000);
	            
           }
      }
	      
   
    var emailtest = getCookie("discount_popup_email");
 
   var urlpara = getParameterByName('customer_posted');
    
    if(emailtest =='yes' && urlpara=='true'){
      
      $('#OfferCartpopup ').modal('show'); 
      $(".form--success").hide();
      setCookie("discount_popup_email",'no','30');
    
    }
   
   

</script>
  
  {% endif %}

   <!-- for discount code pop up end-->
  

