<!--Timer with progess disable using product tag-->
 {% assign tg = 'show' %}

{% if settings.disable_timer_use_tag %}

{% for tag in product.tags %}
  
    {% if "no-timer" == tag %}
     {% assign tg = 'hide' %}
     {% endif %}

{% endfor %}

{% endif %}


 {% if settings.enable_timer_top_message %}
  
 
<div id="progress_bar1" class="progress-container items-count">
 
   <p class="">{{ settings.timer_top_message_value_before }} 
   <span id="counter_left" class="count" style="color: #a94442; border-radius: 5px; background-color: #ffffff;">{{ settings.timer_top_message_value_num }}</span>
   {{ settings.timer_top_message_value_after }}</p>
 
</div>

  {% endif %}

 {% if section.settings.enable_product_progressbar %}

  <div id="progressBar" class="progress progress-striped active progress-bar-success {{ tg }}">
    <div class="progress-bar progress-bar-success" style="padding: 0px 6px;width: 100%;font-size: 0px;"></div>
  </div>


<div id="progressBar_back" class="progress progress-striped active {{ tg }}">
   <div class="progressBar_back progress-bar progress-bar-success" style="width: 100%;"></div>
</div>

{% endif %}