<!-- sell button -->

 
{% if section.settings.sale_button_option == "sale_button_option_one" %}
    
       {% assign sale_box_opt = "sale_wheel" %}
    
      {% elsif section.settings.sale_button_option == "sale_button_option_two" %}
        
    {% assign sale_box_opt = "sale_wheel-two" %}
    
      {% elsif section.settings.sale_button_option == "sale_button_option_three" %}

    {% assign sale_box_opt = "sale_wheel-three" %}
   
        {% elsif section.settings.sale_button_option == "sale_button_option_four" %}

    {% assign sale_box_opt = "sale_wheel-four" %}
    
     {% elsif section.settings.sale_button_option == "sale_button_option_five" %}

    {% assign sale_box_opt = "sale_wheel-five" %}
    {% elsif section.settings.sale_button_option == "sale_button_option_six" %}

    {% assign sale_box_opt = "sale_wheel-six" %}
    {% endif %} 




<!-- sale option -->


{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}






{% unless grid_image_width %}
  {%- assign grid_image_width = '300x300' -%}
{% endunless %}
{%- assign grid_image_scale = '1' -%}

<div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %} sale-sold">

  
  
  {% if on_sale %}
  {% unless  sold_out %} 
  <p class="{{ sale_box_opt  }} ">      
<!--     <strong>{{ section.settings.productsale }}</strong>   -->
    {% assign sale = product.compare_at_price | minus:  product.price | times: 100.0  %}
              {% assign  sale = sale | divided_by:  product.compare_at_price | round | append: '% OFF'   %}
            {% comment %} {{ 'products.product.on_save' | t }} {% endcomment %} <strong>{{sale}} </strong> 
  </p>
  {% endunless %}
  {% endif %}
   
  {% if sold_out %}
  <p class="{{ sale_box_opt }} sld-out"> 
    <strong>{{ 'collections.tag.sold_out_text' | t }}</strong>
  </p>
  {% endif %}   

  
  <a class="grid-view-item__link grid_set_box" href="{{ product.url | within: collection }}">
 
    {% assign lazyclass="grid-view-item__image" %}
    {% assign lazy_data_src= product.featured_image.src | img_url: grid_image_width, scale: grid_image_scale %}
    <img {% include 'lazy_loader' %} alt="{{ product.featured_image.alt }}">  
   </a>
  
    <div class="h4 grid-view-item__title product_title nav-bar mobile-only">

{% if settings.on_mobile_title_set == "mobile_title_set_line_trim" %}
{% assign setHlimit=settings.mobile_text_limit %}
 {{ product.title | truncate:setHlimit }}
 {% else %}
  {{ product.title }}
 {% endif %}      
      
    </div>
  
     <div class="h4 grid-view-item__title product_title nav-bar desktop-only">

{% if settings.on_desktop_title_set == "title_set_line_trim" %}
{% assign setHlimit=settings.desktop_text_limit %}
 {{ product.title | truncate:setHlimit }}
 {% else %}
  {{ product.title }}
 {% endif %}      
      
    </div> 
  
  
    {% if section.settings.show_vendor %}
      <div class="grid-view-item__vendor">{{ product.vendor }}</div>
    {% endif %}
    <div class="grid-view-item__meta">
      {% include 'product-price' %}
    </div>
 
</div>
