<div class="product__content page-width">
  
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="product__images">
    <div class="product__images-container">
      <div class="product__images-slider">
        {% for image in product.images %}
          <div class="product__image">
            
            {% assign social_badge = section.settings.social_badge | default: 'none' %}
            
            {% capture social_badge_img_key %}
              {{ social_badge }}.svg
            {% endcapture %}
            
            {% unless social_badge == 'none' %}
              <div class="product__badge product__badge--{{ social_badge }}">
                <span>{{ 'products.product.as_seen_on' | t }}</span>
                <img src="{{ social_badge_img_key | asset_url }}" alt="{{ social_badge }}">
              </div>
            {% endunless %}
            
            <img src="{{ image | img_url: '720x720' }}" alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}"
            {% for variant in image.variants %}
              {% if variant.option1 != blank %}
                data-variant-option-1="{{ variant.option1 }}"
              {% endif %}
              {% if variant.option2 != blank %}
                data-variant-option-2="{{ variant.option2 }}"
              {% endif %}
              {% if variant.option3 != blank %}
                data-variant-option-3="{{ variant.option3 }}"
              {% endif %}
            {% endfor %}>
          </div>
        {% endfor %}
      </div>
      {% if product.images.size > 1 %}
        <div class="product__images-thumbs">
          {% for image in product.images %}
            <img src="{{ image | img_url: '200x200' }}" alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="product__info" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <div class="product__info-container">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
      <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

      <div class="product__title-area">
        {% if section.settings.show_vendor %}
          <p class="product__vendor">{{ product.vendor }}</p>
        {% endif %}
        <h1 class="product__title">{{ product.title }}</h1>
        <div class="product__price" data-price-wrapper>
          {% assign on_sale = false %}
          {% if current_variant.compare_at_price > product.price %}
            {% assign on_sale = true %}
          {% endif %}
          <span {% if on_sale %}class="on-sale"{% endif %} data-product-price>
            {{ current_variant.price | money_without_trailing_zeros }}
          </span>
          {% if product.compare_at_price_max > product.price %}
            <span class="compare-price" data-compare-price>
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {% endif %}
            </span>
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          {% endif %}
          {% if section.settings.show_discount_percentage %}
            {% assign percentage_message = section.settings.percentage_message %}
            {% if percentage_message != blank and percentage_message contains '*percent*' %}
              <span class="sale-percentage{% unless on_sale %} hide{% endunless %}">
                {% capture percent %}<span class="js-percentage-discount">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | times: 100 | money_without_currency | round | remove: '.0' }}</span>%{% endcapture %}
                {% assign percentage_message = percentage_message | replace: '*percent*', percent %}
                {{ percentage_message }}
              </span>
            {% else %}
              <span class="sale-percentage{% unless on_sale %} hide{% endunless %}">
                <span class="js-percentage-discount">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | times: 100 | money_without_currency | round | remove: '.0' }}</span>% OFF
              </span>
            {% endif %}
          {% endif %}
        </div>
      </div>
      
      {% if section.settings.promo_message != blank %}
        <div class="product__callout">
          <p>{{ section.settings.promo_message }}</p>
        </div>
      {% endif %}
      
      {% assign prod_skip_cart = false %}
      {% if settings.enable_skip_to_checkout %}
        {% assign prod_skip_cart = 'true'%}
      {% endif %}
      
      {% form 'product', product, id: 'newID', class: 'product-form product-form--ajax', data-skip-cart: prod_skip_cart %}
      <!-- <form class="product-form product-form--ajax"  action="/cart/add" method="post" enctype="multipart/form-data"> -->
        {% unless product.has_only_default_variant %}
          
          {% assign color_option_name = section.settings.custom_swatch_option_name | downcase | default: 'color' %}
          
          {% for option in product.options_with_values %}
            
            {% assign option_downcase = option.name | downcase %}
            
            {% if section.settings.enable_color_swatches and option_downcase contains color_option_name %}
              <div class="selector-wrapper js">
                <label for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>
                
                <div class="swatch__container">
                  {% for value in option.values %}
                    <div class="swatch__color">
                      <input type="radio" name="{{ option.name | handle }}" value="{{ value | escape }}"
                      {% if option.selected_value == value %}checked="checked"{% endif %}
                      data-single-option-selector
                      data-index="option{{ option.position }}"
                      data-option="{{ option.position }}">
                      <div class="swatch__color__inner">
                        {% for variant in product.variants %}
                          {%- capture variant_option_key -%}
                            option{{- option.position -}}
                          {%- endcapture -%}
                          
                          {% assign variant_option_val = variant[variant_option_key] %}

                          {% if variant_option_val == value %}
                            {% if variant.image %}
                              <img src="{{ variant.image | img_url: '60x' }}" alt="{{ variant_option_val }}">
                            {% else %}
                              <img src="{{ 'empty-swatch.svg' | asset_url }}" alt="{{ variant_option_val }}">
                            {% endif %}
                            {% break %}
                          {% endif %}
                        {% endfor %}
                      </div>
                      <span class="swatch__color__label">{{ value }}</span>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div class="selector-wrapper js">
                <label for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>

                <select
                  id="SingleOptionSelector-{{ forloop.index0 }}"
                  class="product__option"
                  data-single-option-selector
                  data-index="option{{ option.position }}"
                  data-option="{{ option.position }}">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endif %}
          {% endfor %}
        {% endunless %}

        <select name="id" class="no-js" data-product-select>
          {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>
        
        {% if section.settings.enable_quantity_discounts %}
          <div class="product__quantity--radios">
            <span class="product__quantity__title">{{ 'products.product.quantity' | t }}</span>
            <input id="quantity1" aria-label="Quantity" type="radio" name="quantity" value="1" checked>
            <label for="quantity1" class="product__quantity--radio product__quantity--radio-single">
              <span>{{ 'products.product.quantity_discounts_buy_message' | t }} 1</span>
            </label>
            {% if section.settings.quantity_discount_1 != 1 %}
              <input id="quantity2" aria-label="Quantity" type="radio" name="quantity" value="{{ section.settings.quantity_discount_1 }}">
              <label for="quantity2" class="product__quantity--radio">
                <span><span>{{ 'products.product.quantity_discounts_buy_message' | t }} {{ section.settings.quantity_discount_1 }}</span> {% if section.settings.quantity_discount_save_1 != blank %}<span class="product__quantity--discount">{{ 'products.product.quantity_discounts_save_message' | t }} {{ section.settings.quantity_discount_save_1 }}</span>{% endif %}</span>
              </label>
            {% endif %}
            {% if section.settings.quantity_discount_2 != 1 %}
              <input id="quantity3" aria-label="Quantity" type="radio" name="quantity" value="{{ section.settings.quantity_discount_2 }}">
              <label for="quantity3" class="product__quantity--radio">
                <span><span>{{ 'products.product.quantity_discounts_buy_message' | t }} {{ section.settings.quantity_discount_2 }}</span> {% if section.settings.quantity_discount_save_2 != blank %}<span class="product__quantity--discount">{{ 'products.product.quantity_discounts_save_message' | t }} {{ section.settings.quantity_discount_save_2 }}</span>{% endif %}</span>
              </label>
            {% endif %}
            {% if section.settings.quantity_discount_3 != 1 %}
              <input id="quantity4" aria-label="Quantity" type="radio" name="quantity" value="{{ section.settings.quantity_discount_3 }}">
              <label for="quantity4" class="product__quantity--radio">
                <span><span>{{ 'products.product.quantity_discounts_buy_message' | t }} {{ section.settings.quantity_discount_3 }}</span> {% if section.settings.quantity_discount_save_3 != blank %}<span class="product__quantity--discount">{{ 'products.product.quantity_discounts_save_message' | t }} {{ section.settings.quantity_discount_save_3 }}</span>{% endif %}</span>
              </label>
            {% endif %}
          </div>
        {% else %}
          <div class="product__quantity-wrapper">
            <button class="qty-control qty-up" type="button" name="button" data-control="up">+</button>
            <input class="product__quantity" aria-label="Quantity" type="number" id="Quantity" name="quantity" value="1" min="1">
            <button class="qty-control qty-down" type="button" name="button" data-control="down">-</button>
          </div>
        {% endif %}

        <button
          type="submit"
          name="add"
          class="add-to-cart btn"
          data-add-to-cart
          data-variant="{{ current_variant.id }}"
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-add-to-cart-text>
              {% if current_variant.available %}
                {% if settings.enable_skip_to_checkout %}
                  {{ settings.skip_cart_submit | default: "Buy now" }}
                {% else %}
                  {{ 'products.product.add_to_cart' | t }}
                {% endif %}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
        
        {% if section.settings.enable_dynamic_buttons %}
          {{ form | payment_button }}
        {% endif %}
        
        {% if section.settings.add_to_cart_message != blank %}
          <span class="product__shipping-message">{{ section.settings.add_to_cart_message }}</span>
        {% endif %}

      {% endform %}
      
      {% if section.settings.enable_payment_plan %}
        <div class="product__finance">
          <h4 class="finance__header">{{ section.settings.plan_heading }}</h4>
          <div class="product__finance__content">
            <div class="finance__price">
              <p>{{ section.settings.plan_message }} <span class="finance__price__amount"><sup class="finance__price__currency">{{ shop.money_format | split: "{" | first }}</sup>{{ section.settings.plan_lowest_payment }}<span class="finance__price__frequency">/{{ section.settings.plan_frequency }}</span></span></p>
            </div>
            <span class="finance__divider">or</span>
            <div class="finance__price">
              <p>Pay now <span class="finance__price__amount"><span data-product-price>{{ current_variant.price | money_without_trailing_zeros }}</span></span></p>
            </div>
          </div>
          <p class="finance__message">{{ section.settings.plan_instructions }}</p>
        </div>
      {% endif %}
      
      {% if section.blocks %}
        <div class="product__tabs">
          
          {% for block in section.blocks %}
            {% if block.settings.title != blank %}
              <div class="product__tab">
                <input type="checkbox" id="tab{{ forloop.index }}" {% if block.settings.default_open %}checked{% endif %}>
                <label class="tab__label" for="tab{{ forloop.index }}">{{ block.settings.title }} <span class="fas fa-plus tab__open"></span><span class="fas fa-minus tab__close"></span></label>
                <div class="tab__content product__desc rte">
                  {{ block.settings.content | newline_to_br }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
          
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% comment %}
  Product Callout Colors
{% endcomment %}

<style media="screen">
  .product__callout {
    color: {{ section.settings.promo_message_text_color }};
  }
</style>

{% assign gradient_1 = section.settings.promo_message_gradient_1 %}
{% assign gradient_2 = section.settings.promo_message_gradient_2 %}

{% if gradient_1 != blank %}
  {% if gradient_2 != blank %}
    <style media="screen">
      .product__callout {
        background: linear-gradient(275deg, {{ gradient_1 }}, {{ gradient_2 }});
        background-size: 400% 400%;
      }
    </style>
  {% else %}
    <style media="screen">
      .product__callout {
        background-color: {{ gradient_1 }};
      }
    </style>
  {% endif %}
{% else %}  
  <style media="screen">
    .product__callout {
      background-color: {{ settings.color_secondary_bg }};
    }
  </style>
{% endif %}