<!--prouct-count-->

{{ 'jquery.downCount.js' | asset_url | script_tag }} 

           {% if price_var == 0 %}          
              
                <button type="submit" name="add" id="AddToCartZero" class="btn">
                <span id="AddToCartText">{{ section.settings.add_to_cart_button_text_zero_price }} </span>
                </button>
            
            {% else %}          
                 {% assign zeroCost='' %}  
                      
                 <button type="submit" name="add" id="AddToCart" class="btn">
                 <span id="AddToCartText">{{ section.settings.add_to_cart_button_text }} </span>
                 </button>

             {% endif %}

 {% if section.settings.enable_timer_top_message %}
  
 <div id="progress_bar1" class="progress-container items-count">
 <p class="">{{ section.settings.timer_top_message_value_before }} <span id="counter_left" class="count count_lft_{{ section.id }}" style="color: #a94442; border-radius: 5px; background-color: #ffffff;">{{ section.settings.timer_top_message_value_num }}</span> {{ section.settings.timer_top_message_value_after }}</p>
 </div>

  {% endif %}

 {% if section.settings.enable_product_progressbar %}

  <div id="progressBar" class="progressBar_{{ section.id }} progress progress-striped active progress-bar-success ">
  <div class="progress-bar progress-bar-success" style="padding: 0px 6px;width: 100%;font-size: 0px;"></div>
  </div>


  <div id="progressBar_back" class="progress progress-striped active ">
  <div class="progressBar_back progress-bar progress-bar-success" style="width: 100%;"></div>
  </div>

  {% endif %}
 

{% if section.settings.home_timer  %}
<div class="counter_box">

   <input type="hidden" class="timer_time_reset_day_{{ section.id }} timer_time_{{ section.id }}" value="120" />                 
   <input type="hidden"  class="total_stock_left_num_{{ section.id }}" value="{{ section.settings.timer_top_message_value_num }}" />
   <input type="hidden" id="stock_left_num" class="reset_day_Left_number_{{ section.id }} stock_left_num_{{ section.id }}" value="" />
  <input type="hidden"  id="stock_final_num_{{ section.id }}" value="{{ section.settings.timer_top_message_value_num }}" />
  {% include 'reset_every_day_home' %} 						
   {% include 'product_count_down_reset_every_day_home' %}
  
</div>
{% endif %}


  {% if section.settings.enable_progressbar_text %}
  
     <div id="progress_bar_text" class="progress-container items-count">
     <p class="progressbar_text">{{ section.settings.enable_progressbar_text_value }}</p>
     </div>
  
  {% endif %}   







<script type="text/javascript">
 
 setTimeout(function() {
   

  var second_db=$(".timer_time_{{ section.id }}").val()-4;
   var left_number=$(".stock_left_num_{{ section.id }}").val();
  
     var final_number= $("#stock_final_num_{{ section.id }}").val();
 

 
   
   var counter_number=second_db/left_number;
  
  var counter_number_sec=counter_number*1000;

  var stop = 1;
 
  function decrease(){
      var percent = Number($(".count_lft_{{ section.id }}").text());
   
    if(percent > stop){

          $(".count_lft_{{ section.id }}").text(--percent);
          var t = setTimeout(decrease,counter_number_sec);
    } else{
   $(".count_lft_{{ section.id }}").text(1);
    }
  }
   
  setTimeout(decrease,counter_number_sec); // mini seconds


  
  function progress(timeleft, timetotal, $element) {
    var progressBarWidth = timeleft * $element.width() / timetotal;
    $element.find('div').animate({ width: progressBarWidth }, 500).html(timeleft);
    if(timeleft > counter_number) {
        setTimeout(function() {
            progress(timeleft - counter_number, timetotal, $element);
        }, counter_number_sec);
    }
};

  
 
  
progress(second_db, second_db, $(".progressBar_{{ section.id }}"));
  $(".progressBar_{{ section.id }}").removeClass("progress-bar-success");
   
    }, 2000);
  
</script>


<script type="text/javascript">
  $(window).load(function(){    }); 
    $(".progressBar_back").animate({
      width: 137.5
    }, 1000);
</script>