<style>  
  {% case section.settings.grid %}
  {% when '2' %}
    .grid__item--{{section.id}} .grid-view-item__image {
      max-height: 530px;
    }
 .grid__item--{{section.id}} { text-align: center; }
  {% when '3' %}
    .grid__item--{{section.id}} .grid-view-item__image {
      max-height: 345px;
    }
  .grid__item--{{section.id}} { text-align: center; }
  
  {% when '4' %}
    .grid__item--{{section.id}} .grid-view-item__image {
      max-height: 250px;
    }
  {% when '5' %}
    .grid__item--{{section.id}} .grid-view-item__image {
      max-height: 195px;
    }
  {% endcase %}
  

  
.grid__item--{{section.id}} p.sale_wheel {
    border: 1px solid {{ section.settings.sale_button_option_one_color }};
    color: {{ section.settings.sale_button_option_one_color }};  
    

}
  
 .grid__item--{{section.id}} p.sale_wheel-two {
    border: 1px solid {{ section.settings.sale_button_option_one_color }};
    color:#fff;
    background-color: {{ section.settings.sale_button_option_one_color }};
 
}
  
 .grid__item--{{section.id}} p.sale_wheel-three {
     border: 1px solid #ffffff;   
    color: #fff;
    box-shadow: 0px 0px 0px 5px {{ section.settings.sale_button_option__text_one_color }};
    background-color: {{ section.settings.sale_button_option_one_color }};

}
  
.grid__item--{{section.id}} p.sale_wheel-four {
  
    color: #fff;
    box-shadow: 0px 0px 0px 5px {{ section.settings.sale_button_option_one_color }};
    background-color: {{ section.settings.sale_button_option_one_color }};

}
.grid__item--{{section.id}} p.sale_wheel-five {
  
    color: #fff;
    box-shadow: 0px 0px 0px 5px {{ section.settings.sale_button_option_one_color }};
    background-color: {{ section.settings.sale_button_option_one_color }};

}
  .grid__item--{{section.id}} p.sale_wheel-six {
    padding: 0 8px;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: {{ section.settings.sale_button_option_one_color }};
    border: 2px solid {{ section.settings.sale_button_option_one_color }};
    position: absolute;
    border-radius: 5px;
    z-index: 9;

}
 .grid__item--{{section.id}} span#salePrice {
  color: {{ section.settings.comparePriceColor}};
    border: 2px solid {{ section.settings.comparePriceColor}};
}
.grid__item--{{section.id}} .sale-price_coll{  color: {{ section.settings.comparePriceColor}}; }
  
 
 @media screen and (min-width: 769px) {
  
  .grid__item--{{section.id}} .h4.grid-view-item__title.product_title{
    color:{{section.settings.color_title}};
    font-family:{{section.settings.title_font_family}} !important;
    font-size: {{section.settings.product_grid_title_size1}}px !important;
  }
  
  }
  
  @media screen and (max-width: 768px) {
  
  
     .grid__item--{{section.id}} .h4.grid-view-item__title.product_title{
    color:{{section.settings.color_title}};
    font-family:{{section.settings.title_font_family}} !important;
        font-size: {{section.settings.product_grid_title_size_mobile1}}px !important;
  }
    
  }
  
  #shopify-section-{{section.id}} .collection_heading h2{
        color:{{section.settings.color_heading}};
        font-family:{{section.settings.heading_font_family}} !important;
        font-size: {{section.settings.heading_font_size}}px !important;  
  
  } 
  
  #shopify-section-{{section.id}} .feature_view_all{
    color: {{ section.settings.view_all_color }} !important;
    background: {{ section.settings.view_all_bg_color }} !important;
  }
  
</style>
<div class="container wrapper feature_collection_product_grid collection_page" id="shopify-section-[id]">
  

  {% if section.settings.title != blank %}
    <div class="section-header text-center collection_heading">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  {% case section.settings.grid %}
    {% when '2' %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '480x480' -%}
    {% when '3' %}
      {%- assign grid_item_width = 'medium-up--one-third' -%}
      {%- assign image_size = '345x345' -%}
    {% when '4' %}
      {%- assign grid_item_width = 'medium-up--one-quarter' -%}
      {%- assign image_size = '250x250' -%}
    {% when '5' %}
      {%- assign grid_item_width = 'medium-up--one-fifth' -%}
      {%- assign image_size = '195x195' -%}
  {% endcase %}

  
  <!-- row setting for mobile  -->
  
    {% if section.settings.on_mobile_set == "on_mobile_set_row_one" %}
      {%- assign grid_mobile = " " -%}
  {% else %}
   {%- assign grid_mobile = "small--one-half" -%}
  {% endif %}
  
  {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

  <div class="grid grid--uniform grid--view-items">
    {% for product in collection.products limit: product_limit %}
      <div class="grid__item grid__item--{{section.id}} {{ grid_mobile }} {{ grid_item_width }}">
        {% include 'product-card-grid', grid_image_width: image_size %}
      </div>
    {% else %}

      {% for i in (1..product_limit) %}
        <div class="grid__item .grid__item--{{section.id}} {{ grid_item_width }}">
          <div class="grid-view-item">
         
            <a href="#" class="grid-view-item__link">
              <div class="grid-view-item__image">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
              <div class="grid-view-item__meta">
                {% include 'product-price' %}
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  {% if section.settings.show_view_all %}
    <hr class="hr--invisible"></hr>
    <div class="text-center">
      <a href="{{ collection.url }}" class="btn feature_view_all">
        {{ 'collections.general.view_all' | t }}
      </a>
    </div>
  {% endif %}

</div>





{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "select",
        "id": "heading_font_family",
        "label": "Heading font",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
        },
		{
        "type": "select",
        "id": "heading_font_size",
        "label": "Heading font size",
        "default": "18",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },	
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },		  
          {
            "value": "41",
            "label": "41"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },	
          {
            "value": "45",
            "label": "45"
          },	
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },	
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },	
          {
            "value": "56",
            "label": "56"
          },		  
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }		  

        ]
      },
      {
        "type": "color",
        "id": "color_heading",
        "label": "Heading color",
        "default": "#474242" 
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      },  
      {
        "type": "radio",
        "id": "on_mobile_set",
         "default" : "on_mobile_set_row_two",
        "options": [
          {
            "value": "on_mobile_set_row_one",
            "label": "1 row"
          },
          {
            "value": "on_mobile_set_row_two",
            "label": "2 rows"
          }
        ],
        "label": "Mobile Product Per Row Setting"
      },
       {
          "type": "header",
           "content": "title setting"
        },
        {
        "type": "color",
        "id": "color_title",
        "label": "Title color",
        "default": "#474242" 
         },
         {
        "type": "select",
        "id": "title_font_family",
        "label": "Title Font",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
      },
 
		{
        "type": "select",
        "id": "product_grid_title_size1",
        "label": "Product Title Size",
        "default": "18",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },	
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },		  
          {
            "value": "41",
            "label": "41"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },	
          {
            "value": "45",
            "label": "45"
          },	
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },	
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },	
          {
            "value": "56",
            "label": "56"
          },		  
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }		  

        ]
        },
		{
        "type": "select",
        "id": "product_grid_title_size_mobile1",
        "label": "Product Title Size for mobile",
        "default": "14",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },	
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },		  
          {
            "value": "41",
            "label": "41"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },	
          {
            "value": "45",
            "label": "45"
          },	
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },	
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },	
          {
            "value": "56",
            "label": "56"
          },		  
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }		  

        ]
      },
     
      {
        "type": "header",
        "content": "Off Button Style option"
      },
      {
        "type": "radio",
        "id": "sale_button_option",
        "default": "sale_button_option_one",
        "options": [
          {
            "value": "sale_button_option_one",
            "label": "Option 1"
          },
          {
            "value": "sale_button_option_two",
            "label": "Option 2"
          },
          {
            "value": "sale_button_option_three",
            "label": "Option 3"
          },
          {
            "value": "sale_button_option_four",
            "label": "Option 4"
          },
		  {
            "value": "sale_button_option_five",
            "label": "Option 5"
          },
		  {
            "value": "sale_button_option_six",
            "label": "Option 6"
          }
        ],
        "label": "Off Button Style Option"
      },
      {
        "type": "header",
        "content": "Off button color setting"
      },
      {
        "type": "color",
        "id": "sale_button_option_one_color",
        "label": "Off Button Background Color",
        "default": "#2acb13"
      },
       {
          "type": "header",
          "content":"View all button color" 
       },
       {
        "type": "color",
         "id": "view_all_color",
         "label": "view all text color",
         "default": "#fff"
        },
         {
          "type": "color",
         "id": "view_all_bg_color",
         "label": "view all button bg color",
         "default": "#000"
        } 
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
