<style>  
  
  #shopify-section-{{section.id}}{
  
      margin-bottom: 15px;
  }
  
  .content_grid .placeholder-svg  {  display: inline-block;
  max-height: 273px;}
  
   .custom__item-inner {
    display: block !important;
  }
  
  #shopify-section-{{section.id}} .custom-content{
    {% if section.settings.content_bg_type == 'color' %}
    background-color:{{ section.settings.background_color }};
    {% else %}
    
     background-image:url({{ section.settings.background_image12 | img_url:'1700x' , crop: 'center' }});
     
    {% endif %}
  }
  #shopify-section-{{section.id}} .custom_h2{
    font-family:{{ section.settings.heading_font_family}} !important;
    font-size:{{section.settings.heading_font_size}}px !important; 
    color:{{ section.settings.heading_color}}; 
  }  
  
  // sale button start
</style>

<div id="shopify-section-[id]" class="custom_content_page ">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h4 class="h2 custom_h2">{{ section.settings.title | escape }}</h4>
    </div>
  {% endif %}

  <div class="custom-content">
    
    <div class="page-width" >
    {% for block in section.blocks %}
      {% case block.settings.width %}
        {% when '25%' %}
          <style>
            .custom__item--{{block.id}} .custom__image {
              max-height: 250px;
            }
          </style>
          {%- assign block_width = 'medium-up--one-quarter' -%}
          {%- assign image_size = '250x250' -%}
      {%- assign image_size_height = '250' -%} 
        {% when '33%' %}
          <style>
            .custom__item--{{block.id}} .custom__image {
              max-height: 345px;
            }
          </style>
          {%- assign block_width = ' medium-up--one-third' -%}
          {%- assign image_size = '345x345' -%}
      {%- assign image_size_height = '345' -%} 
        {% when '50%' %}
          <style>
            .custom__item--{{block.id}} .custom__image {
              max-height: 530px;
            }
          </style>
          {%- assign block_width = 'medium-up--one-half' -%}
          {%- assign image_size = '530x530' -%}
          {%- assign image_size_height = '530' -%} 
        {% when '66%' %}
          <style>
            .custom__item--{{block.id}} .custom__image {
              max-height: 720px;
            }
          </style>
          {%- assign block_width = 'medium-up--two-thirds' -%}
          {%- assign image_size = '720x720' -%}
      
      {%- assign image_size_height = '720' -%} 
        {% when '75%' %}
          <style>
            .custom__item--{{block.id}} .custom__image {
              max-height: 810px;
            }
          </style>
          {%- assign block_width = 'medium-up--three-quarters' -%}
          {%- assign image_size = '810x810' -%}
      {%- assign image_size_height = '810' -%} 
        {% when '100%' %}
          <style>
            .custom__item--{{block.id}} .custom__image {
              max-height: 1090px;
            }
          </style>
          {%- assign block_width = 'one-whole' -%}
          {%- assign image_size = '1090x1090' -%}
          {%- assign image_size_height = '1090' -%} 
      {% endcase %}
      
      
      <div class="grid__item custom__item custom__item--{{block.id}} {{ block_width }} {% if block.settings.alignment %} align--{{ block.settings.alignment }} {% endif %}   {% if section.settings.show_background %} cutomer_background {% endif %}" {{ block.shopify_attributes }}>
        <div style="margin-top: 28px;" class="content_grid custom__item-inner custom__item-inner--{{ block.type }}">
          {% case block.type %}
            {% when 'image' %}
              {% if block.settings.image != blank %}
                {%- assign image_alt = block.settings.image.alt -%}
          {% assign heightpx_tem = block.settings.height_per %}
           {% assign heightpx  = image_size_height | times: heightpx_tem  | divided_by: 100 %}
                  <style>
                    .customer_imagess{{block.id}} .customer_image1{
                      height:{{heightpx}}px;
                    }
                   .customer_imagess{{block.id}}{
                     text-align:{{block.settings.img_align}};
                    }
                  </style>
          {% assign color_from_settings = heightpx | append : 'x' |append: heightpx %}
                  <div class="customer_imagess{{block.id}}  {{ color_from_settings }}">
                    
                {{ block.settings.image | img_url: color_from_settings,  crop: 'center' | img_tag: image_alt, 'customer_image2'  }}
                  </div>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            {% when 'text' %}
              <div class="medium-up--text-{{ block.settings.align_text }}">
                {% if block.settings.title != blank %}
                  <h4 class="h3 custome_h3" style="color:{{ block.settings.title_color }};font-size: {{block.settings.block_headingt_font_size}}px ; font-family:{{ block.settings.block_heading_font_family }};" >{{ block.settings.title | escape }}</h4>
                {% endif %}
                {% if block.settings.text != blank %}
                <style>
                 .custom__item--{{block.id}} .customer_r_text p{
                          color:{{ block.settings.text_color }};
                          font-size: {{block.settings.block_text_font_size}}px;
                          font-family:{{ block.settings.block_text_font_family }};
                  }
                </style>
                  <div class="rte-setting customer_r_text"  >{{ block.settings.text }}</div>
                {% endif %}
              </div>
            {% when 'video' %}
              <div class="video-wrapper">
                {% if block.settings.video_url == blank %}
                  <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                {% else %}
                  {% if block.settings.video_url.type == "youtube" %}
                    <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                  {% if block.settings.video_url.type == "vimeo" %}
                    <iframe src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                {% endif %}
              </div>
          
               {% when 'timer' %} 
          
          
                  <style>
        .timer_default_on_home{
        text-align: center !important;
            margin: 0 auto;
              float: none;
        }
          #shopify-section-{{ section.id }} .timer_heading{
            color: {{ block.settings.heading_color }};
            font-size:{{block.settings.title_font_size}}px !important;

          } 
                 
           #shopify-section-{{ section.id }} #timertwohourcokkies tr td , #shopify-section-{{ section.id }} .flip-clock-divider .flip-clock-label , #shopify-section-{{ section.id }} table#timertwohour tr td {
                    color: {{ block.settings.digit_timer_color }} !important;
             }

          #shopify-section-{{ section.id }} table.model3 tr td span,
          #shopify-section-{{ section.id }} .model5>tbody>tr>td>#hm_timer>samp,
          #shopify-section-{{ section.id }} #timertwohour tr td span samp,  #shopify-section-{{ section.id }} #timertwohour tr td span, #shopify-section-{{ section.id }} .flip-clock-wrapper ul li a div div.inn {
            color: {{ block.settings.text_timer_color }} !important;
          }
     
                    
        </style>


        <div id="shopify-section-[id]" class="shopify-section sale_button">
          <div class="grid container1 wrapper1">
            <div class="timer_default_on_home">
          
              {% include 'timer_for_content_home' %}   
       {% comment %}       {% endcomment %}
            </div>
          </div>
          
          </div>


              {% when 'sale_button' %} 
          <style>
          

        #shopify-section-{{section.id}} .custom__item--{{block.id}} #sale_button_home{
          color:{{block.settings.button_text}} !important;
          background-color:{{block.settings.button_background_color}} !important;

        }
      #shopify-section-{{section.id}} .custom__item--{{block.id}} #sale_button_home:hover{
          color:{{block.settings.button_hover_text_color}} !important;
          background-color:{{block.settings.button_hover_back_color}} !important;

        }  
      #shopify-section-{{section.id}} .custom__item--{{block.id}} .btn {
         padding: 16px 15px !important;
         
      }

        // sale button end

          
          </style>
            <div class="text-center">
            <a href="{{block.settings.button_link}}" id="sale_button_home" class="btn btn--secondary  btn--has-icon-before return-link {% if block.settings.button_size == 'medium' %} medium {% endif %}  {% if block.settings.button_size == 'large' %} large {% endif %}">
            {{ block.settings.button_label }}
            </a>
          </div>

          
            {% when 'product' %}
          <style>
         .custom__item--{{block.id}} .grid-view-item p , 
            .custom__item--{{block.id}} .grid-view-item span,
            .custom__item--{{block.id}}  .grid-view-item .h4{
          
            color:{{ block.settings.product_color }} !important;
            text-align: center;
           
          }
            .custom__item--{{block.id}} , .custom__item--{{block.id}} .grid-view-item__meta {
            text-align: center;
            }
            
          </style>
              {%- assign product = all_products[block.settings.product] -%}
              {% if product.title.size > 0 %}
                {% include 'product-card-grid', grid_image_width: image_size %}
              {% else %}
                {% comment %}
                  No product yet. Show onboarding one.
                {% endcomment %}
                <div class="grid-view-item">
                  <a class="grid-view-item__link" href="#">
                    <div class="grid-view-item__image">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    <div class="grid-view-item__meta">
                      {{ 1999 | money }}
                    </div>
                  </a>
                </div>
              {% endif %}
            {% when 'collection' %}
              {%- assign collection = collections[block.settings.collection] -%}
              {% include 'collection-grid-item', collection_image_size: image_size %}
            {% when 'html' %}
              {% if block.settings.code != blank %}
                {{ block.settings.code }}
              {% endif %}
          {% endcase %}
        </div>
      </div>

    {% endfor %}
      
    </div>
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Custom content",
    "class": "index-section",
     "max_blocks": 6,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Custom content"
      },
      {
        "type": "select",
        "id": "heading_font_size",
        "label": "heading font size",
        "default": "14",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "34"
          },
          {
            "value": "35",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },
          {
            "value": "41",
            "label": "42"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },
          {
            "value": "45",
            "label": "45"
          },
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },
          {
            "value": "56",
            "label": "56"
          },
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }


        ]
      },
        {
        "type": "select",
        "id": "heading_font_family",
        "label": "heading font",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
      },
      {
       "type":"color",
       "id":"heading_color",
       "label":"Heading color",
        "default":"#080707"
      },
      {
        "type": "checkbox",
        "id": "show_background",
        "label": "Show background"
      },

       {
        "type": "radio",
        "id": "content_bg_type",
        "label": "Background type",
        "options": [
          {
            "value": "color",
            "label": "Color"
          },
          {
            "value": "image",
            "label": "Image"
          }
        ]
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#dcdcdc"
      }, 
       {
        "type": "image_picker",
        "id": "background_image12",
        "label": "Background image"
      }

    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
         {
        "type": "select",
        "id": "block_heading_font_family",
        "label": "heading font",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
      },

      {
        "type": "select",
        "id": "block_headingt_font_size",
        "label": "heading font size",
        "default": "14",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "34"
          },
          {
            "value": "35",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },
          {
            "value": "41",
            "label": "42"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },
          {
            "value": "45",
            "label": "45"
          },
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },
          {
            "value": "56",
            "label": "56"
          },
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }


        ]
      },


         {
        "type": "select",
        "id": "block_text_font_family",
        "label": "Text font",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
      },

      {
        "type": "select",
        "id": "block_text_font_size",
        "label": "Text font size",
        "default": "14",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "34"
          },
          {
            "value": "35",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },
          {
            "value": "41",
            "label": "42"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },
          {
            "value": "45",
            "label": "45"
          },
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },
          {
            "value": "56",
            "label": "56"
          },
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }


        ]
      },
      {
            "type":"color",
            "id": "title_color",
            "label": "Heading color",
            "default":"#000"
          },
          {
            "type":"color",
            "id": "text_color",
            "label": "Text color",
             "default":"#000"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
 
          {
            "type": "select",
            "id": "align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },   
      {
        "type": "timer",
        "name": "Timer",  
        "limit": 1,
        "settings": [
           {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "100%",
            "options": [
              {
                "value": "100%",
                "label": "100%"
              }
            ]
           },
           {
                 "type": "paragraph",
                 "content" : "Enable timer reset every day(custom left number)- So you can set that at (22:00:00) it reset every day"  
           },
           {
             "type": "color",
              "id": "text_timer_color",
              "label": "Text color of timer",
              "default": "#000"
           },
           {
             "type": "color",
              "id": "digit_timer_color",
              "label": "Digit color of timer",
              "default": "#000" 
         },
         {
        "type": "text",
        "id": "enable_timer_reset_every_day",
        "label": "Enable timer  reset every day(HH:mm:ss)",
        "default": "10:00:00",
        "info": "user put time 24 hours- example: 15:00:00 ,09:09:10, 01:01:01"
       }, 
       {
         "type": "header",
         "content": "timer setting"
       },
      {
        "type": "radio",
        "id": "enable_timer_model",
         "default": "timer_model1",
        "options": [
          {
            "value": "timer_model1",
            "label": "Model 1"
          },
          {
            "value": "timer_model2",
            "label": "Model 2"
          },
          {
            "value": "timer_model3",
            "label": "Model 3"
          },
          {
            "value": "timer_model5",
            "label": "Model 4"
          },
          {
            "value": "timer_model6",
            "label": "Model 5"
          }
        ],
        "label": "Timer Model Type"
      }

       ]
      },
      {
        "type": "sale_button",
        "name": "sale button",
        "settings": [
         {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
 
       {
        "type": "text",
        "id": "button_label",
        "label": "Button text",
        "default": "YES, I WANT TO BOOST MY SALES NOW !"
       },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "button_text",
        "label": "Button text color",
        "default": "#fff" 
      },
      {
        "type": "color",
        "id": "button_background_color",
        "label": "Button background color",
        "default": "#26AB28" 
      },
      {
        "type": "color",
        "id": "button_hover_text_color",
        "label": "Button hover text color",
        "default": "#fff" 
      },
      {
        "type": "color",
        "id": "button_hover_back_color",
        "label": "Button hover background color",
        "default": "#dcdcdc" 
      },
      {
        "type": "select",
        "id": "button_size",
        "label": "Button size",
        "default": "small",
        "options": [
          {
            "value": "small",
            "label": "small"
          },
          {
            "value": "medium",
            "label": "medium"
          },
          {
            "value": "large",
            "label": "large"
          }
        ]
      }
          ]
        },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "height_per",
            "label": "Image size",
            "default": "100",
            "options": [
              {
                "value": "10",
                "label": "20%"
              },
              {
                "value": "30",
                "label": "30%"
              },
              {
                "value": "40",
                "label": "40%"
              },
              {
                "value": "50",
                "label": "50%"
              },
              {
                "value": "60",
                "label": "60%"
              },
              {
                "value": "70",
                "label": "70%"
              },
              {
                "value": "80",
                "label": "80%"
              },
              {
                "value": "90",
                "label": "90%"
              },
              {
                "value": "100",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "img_align",
            "label": "Image hieght",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "value": "right",
                "label": "right"
              }
 
            ]
          } 
     ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": "YouTube or Vimeo link",
            "accept": ["youtube", "vimeo"]
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          } 
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type":"color",
            "id":"product_color",
            "label":"Product title color"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          } 
        ]
      },
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "html",
            "id": "code",
            "label": "HTML"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom content",
        "category": "Advanced layout",
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
