<style>
  #shopify-section-{{section.id}} .faq-heading h2{
    font-size:{{section.settings.heading_font_size}}px !important;
    font-family:{{section.settings.heading_font_family}}  !important;
    color:{{section.settings.heading_color}} !important; 
  }
  
  #shopify-section-{{section.id}} .faq_title{
    font-size:{{section.settings.question_font_size}}px !important;
    font-family:{{section.settings.question_font_family}}  !important;
    color:{{section.settings.question_color}} !important; 
  } 
  
   #shopify-section-{{section.id}} .faq_text p{
    font-size:{{section.settings.text_font_size}}px !important;
    font-family:{{section.settings.text_font_family}}  !important;
    color:{{section.settings.text_color}} !important; 
  }
  #shopify-section-{{section.id}} .for-qicon{
 
     background-color: {{section.settings.icon_color}} !important; 
  
  }
  

 
</style>

<div id="shopify-section-[id]" class="shopify-section index-section faq page-width" data-section-id="{{ section.id }}" data-section-type="faq">
    
    <div class="row" id="">
       {% if section.settings.faq_title_heading != blank %}
    <div class="section-header text-center faq-heading">
      <h2>{{ section.settings.faq_title_heading | escape }}</h2>
    </div>
     {% endif %} 
      
       
           {%- assign i = 2 -%}
      <div   class="masonry">
    {% for block in section.blocks %}
 
       <div class="item"> 
    <h1 class="faq_title"><span class="for-qicon"><i class="fa fa-question"></i></span>{{block.settings.faq_title}}</h1>
    <div class="faq_text">{{block.settings.faq_text}}</div>
         
 
         </div>
      {% endfor %}
      </div>
      {%comment%}
      
       
           {%- assign i = 2 -%}
    {% for block in section.blocks %}
      <div class="grid__item medium-up--one-half ">
    {%- assign ans =  i | modulo:2  -%}
        {% if ans == 1  %} 
    <h1 class="faq_title"><span class="for-qicon"><i class="fa fa-question"></i></span>{{block.settings.faq_title}}</h1>
    <div class="faq_text">{{block.settings.faq_text}}</div>
         {% endif %}
 {% assign i = i | plus: 1 %}
         </div>
 {% endfor %}
         
      
      {%endcomment%}
      
  </div>
    
</div>
 


{% schema %}
  {
    "name": "FAQ",
    "settings": [
        {
        "type": "text",
        "id": "faq_title_heading",
        "label": "Heading",
		"default": "FAQ"
        },
        {
        "type": "select",
        "id": "heading_font_family",
        "label": "Heading font",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
        },
        {
        "type": "select",
        "id": "heading_font_size",
        "label": "Heading font size",
        "default": "44",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          } ,     
          {
           "value": "31",
           "label": "31"
         },
         {
           "value": "32",
           "label": "32"
         },
         {
           "value": "33",
           "label": "33"
         },
         {
           "value": "34",
           "label": "34"
         },
         {
           "value": "35",
           "label": "35"
         },
         {
           "value": "36",
           "label": "36"
         },
         {
           "value": "37",
           "label": "37"
         },
         {
           "value": "38",
           "label": "38"
         },
         {
           "value": "39",
           "label": "39"
         },
         {
           "value": "40",
           "label": "40"
         },
         {
           "value": "41",
           "label": "42"
         },
         {
           "value": "42",
           "label": "42"
         },
         {
           "value": "43",
           "label": "43"
         },
         {
           "value": "44",
           "label": "44"
         },
         {
           "value": "45",
           "label": "45"
         },
         {
           "value": "46",
           "label": "46"
         },
         {
           "value": "47",
           "label": "47"
         },
         {
           "value": "48",
           "label": "48"
         },
         {
           "value": "49",
           "label": "49"
         },
         {
           "value": "50",
           "label": "50"
         },
         {
           "value": "51",
           "label": "51"
         },
         {
           "value": "52",
           "label": "52"
         },
         {
           "value": "53",
           "label": "53"
         },
         {
           "value": "54",
           "label": "54"
         },
         {
           "value": "55",
           "label": "55"
         },
         {
           "value": "56",
           "label": "56"
         },
         {
           "value": "57",
           "label": "57"
         },
         {
           "value": "58",
           "label": "58"
         },
         {
           "value": "59",
           "label": "59"
         },
         {
           "value": "60",
           "label": "60"
         }

        ]
      },
       {
        "type":"color",
        "label":"Heading color",
        "id":"heading_color",
		"default": "#0f0f0f"
       },
       {
        "type":"color",
        "label":"Icon color",
        "id":"icon_color",
		"default":"#00a706"
       },
        {
        "type": "select",
        "id": "question_font_family",
        "label": "Question font",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
        },
        {
        "type": "select",
        "id": "question_font_size",
        "label": "Question font size",
        "default": "18",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "34"
          },
          {
            "value": "35",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },
          {
            "value": "41",
            "label": "42"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },
          {
            "value": "45",
            "label": "45"
          },
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },
          {
            "value": "56",
            "label": "56"
          },
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }
   

        ]
      },
      {
        "type":"color",
        "label":"Question color",
        "id":"question_color",
		"default": "#000000"
      },

        {
        "type": "select",
        "id": "text_font_family",
        "label": "Text font",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
        },
        {
        "type": "select",
        "id": "text_font_size",
        "label": "Text font size",
        "default": "14",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "34"
          },
          {
            "value": "35",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },
          {
            "value": "41",
            "label": "42"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },
          {
            "value": "45",
            "label": "45"
          },
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },
          {
            "value": "56",
            "label": "56"
          },
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }

        ]
      },
      {
        "type":"color",
        "label":"Text color",
        "id":"text_color",
		"default": "#000000"
      }


   ],

   "blocks": [
     {
        "type": "faq",
        "name": "Faq",
        "settings":[
       {
        "type": "text",
        "id": "faq_title",
		"default": "Put your question here !",
        "label": "Title"
        
       },
       {
        "type": "richtext",
        "id": "faq_text",
		"default": "<p>Put the answer here !</p>",
        "label": "Text"
        
       }
      ]
     }
    ],

    "presets": [{
      "name": "Faq",
      "category": "Text",
 
      "blocks": [
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
		{
          "type": "faq"
        },
		{
          "type": "faq"
        }
      ]
    }]

  }
{% endschema %}
