<!-- Modal -->

<style>
  .related_popup_heading{
    color:{{section.settings.related_popup_heading_font_color}};
    font-size:{{section.settings.related_popup_heading_font_size}}px;
    font-family:{{section.settings.related_popup_heading_font_family}} !important;  
   
  }
  .related_popup_text{
    color:{{section.settings.related_popup_text_font_color}};
    font-size:{{section.settings.related_popup_text_font_size}}px;
    font-family:{{section.settings.related_popup_text_font_family}} !important;  
    
  }
  .r_view_cart_color{
    background-color:{{ section.settings.r_view_cart_color }} !important;
    font-weight:bold;
    font-size:17px;
  }
  .r_continue_shoping_color{
    background-color:{{ section.settings.r_continue_shoping_color }} !important;
    color: #000 !important;
    
  }
  .r_checkout_color{
    background-color:{{ section.settings.r_checkout_color }} !important;
    font-size:17px;
    font-weight:bold;
  }
  img.addcartloader {
    height: 19px;
    width: 20px;
}
  div#related_cart_sucsses_msg {
    width: 74%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40px !important;
    position: fixed !important;
    z-index:99999999;
}
#related_popup_upsell .grid-view-item__meta {
/*     min-height: 50px;
    max-height: 50px; */
}
#related_popup_upsell .h4.grid-view-item__title.product_title.nav-bar {
/*     min-height: 50px;
    max-height: 50px; */
}

.related_popup_footer a {
    display: inline-block;
    color: #fff;
}

.modal-footer.related_popup_footer form {
    display: inline-block;
}

.modal-footer.related_popup_footer form input.r_checkout_color {
    color: #fff;
}
.related_popup_text{
    text-align:left !important;
}
 
  #related_popup_upsell{background:transparent;}
  .modal-backdrop.in{opacity:0.7 !important;}
</style>

{% include 'condition_forrelated_popup' %}

       {%if collection1 %}
<div id="related_cart_sucsses_msg"></div>
<div id="related_popup_upsell" class="modal fade"    role="dialog">
  <div class="vertical-alignment-helper">
  <div class="modal-dialog vertical-align-center">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title related_popup_heading">{{section.settings.related_popup_heading}}</h4>
        <p class="related_popup_text">{{section.settings.related_popup_text}} <b> {{ collection1.title | capitalize }}</b></p>
      </div>
     
    
      <div class="modal-body" id="comment_parent_like">
       <div id="comment_child_like"> 
              
            {%comment%}
        


     {% for collection in product.collections %}
         {{ collection.title | replace: ' ', '-'  }}
      
    
        {% endfor %}
      {%endcomment%} 
         
         
         
         {% include 'condition_forrelated_popup' %}
        
        
      
        
       {%if collection1 %}
           {%- assign collection = collections[settings.show_upsell_related_collection_1] -%}
              
                {% capture index %}
                        {{ 'now' | date: '%S' | times: collections.all.products.size | divided_by: 60 }}
                {% endcapture %}
                 <div class="related_pupup_rendome_parent hide-xs">
                   {% for product in collections[collection1.handle].products %}
                  {% if product.available and product.variants.size >= 1 %}
                 
                   <div class="grid__item  medium-up--one-third small--one-half related_pupup_rendome">
                     {% include 'product-card-grid-related-popup', grid_image_width: '250X250' %}
                   </div>
                   
                   {% endif %}
                   {% endfor %} 
                 </div>
         
                 <div class="related_pupup_rendome_parent one-time hide-lg">
                   {% for product in collections[collection1.handle].products %}
                   <div class="grid__item">
                     {% include 'product-card-grid-related-popup-mobile'%}
                   </div>
                   {% endfor %} 
                 </div>





                
       <input type="hidden" id="check_collection_emty" value="1">
      
       {% else %}
      
       <input type="hidden" id="check_collection_emty" value="0">
      
      
       {% endif %}
        
           
      </div>
        </div> 

      <div class="modal-footer related_popup_footer">
        
        <a href="/" type="button" class="btn btn-default r_continue_shoping_color">{{ 'products.related.continue_shoping_text' | t }} </a>
        <a href="/cart" type="button" class="btn btn-default r_view_cart_color">{{ 'products.related.view_cart' | t }}</a>
 
        
        <form method="post" action="/cart">

           <input class="btn btn-default r_checkout_color" type="submit" value="{{ 'products.related.checkout' | t }}" name="checkout"/>

        </form>
      </div>
    </div>

  </div>
  </div>
</div>
{% else %}
<!-- <div id="related_cart_sucsses_msg"></div> -->
{% endif %}







<script>
  
  function custome_addcart(that,variant_id,quantity){
      data = {
        "quantity": quantity,
        "id": variant_id,
         }  
    
   var userfor = $(that).html();
    
      $.ajax({
	      type: 'POST',
          url: '/cart/add.js',
	      dataType: 'json',
	      data: data,
          beforeSend: function() {
              $(that).attr("disabled",true);
              $(that).html('<span id="r_AddToCartText">Adding...<img src="{{ 'Spinner_1.svg' | asset_url  }}" class="addcartloader"></span>');
          },
	      success: function(res){
             $(that).removeAttr("disabled");
             $("#related_cart_sucsses_msg").html('<div class="alert alert-success alert-dismissable fade in"><a href="#" class="close custome_close_r" data-dismiss="alert" aria-label="close">&times;</a> Item added in cart </div>')  
             
             setTimeout(function(){ 
                 $(".custome_close_r").trigger("click");
             }, 1500);
             $(that).html(userfor);

             //where_to_go();   
                jQuery.getJSON('/cart.js', function (cart, textStatus) {
                  //the cart info is in the callback. the item_count is available as part of the callback
                  //below I set my cartcount div with the current cart item_count
                  var carttext=cart.item_count;
                  jQuery("#CartCount").text(carttext);
                  $('#CartCost').html(theme.Currency.formatMoney(cart.total_price, "{{ shop.money_format}}").replace('', '').replace('', ''));
                });	  
	            
          },
      }); 
  } 
</script>
<style>
  .one-time .slick-prev{left:0;z-index:999;height: 30px;width: 30px;}
  .one-time .slick-next{right:0;z-index:999;height:30px;width: 30px;}
</style>




{% schema %}
  {
    "name": "Upsell Popup",
    "settings": [
  {
        "type": "header",
        "content": "Related Upsell Popup"
      },
      {
        "type": "text",
        "id": "related_popup_heading",
        "label": "Heading",
        "default": "You may also like this"
      },
      {
        "type": "color",
        "id": "related_popup_heading_font_color",
        "label": "Heading color",
        "default": "#000000"
      },
      {
        "type": "select",
        "id": "related_popup_heading_font_family",
        "label": "Heading font family",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
      },
      {
        "type": "select",
        "id": "related_popup_heading_font_size",
        "label": "  Heading font size",
        "default": "14",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "34"
          },
          {
            "value": "35",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },
          {
            "value": "41",
            "label": "42"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },
          {
            "value": "45",
            "label": "45"
          },
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },
          {
            "value": "56",
            "label": "56"
          },
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_related_upsell",
        "label": "Enable related upsell",
        "default": true
      },
      {
        "type": "text",
        "id": "related_popup_text",
        "label": "Text message",
        "default": "Customer who have also purchased"
      },
      {
        "type": "color",
        "id": "related_popup_text_font_color",
        "label": "Heading color",
        "default": "#000000"
      },
      {
        "type": "select",
        "id": "related_popup_text_font_family",
        "label": "Text font family",
        "options": [
          {
            "value": "Arial",
            "label": "default theme font family"
          },
          {
            "value": "Anton",
            "label": "Anton"
          },
          {
            "value": "Arimo",
            "label": "Arimo"
          },
          {
            "value": "Arvo",
            "label": "Arvo"
          },
          {
            "value": "Baloo Bhai",
            "label": "Baloo Bhai"
          },
          {
            "value": "Baloo Bhaina",
            "label": "Baloo Bhaina"
          },
          {
            "value": "Bitter",
            "label": "Bitter"
          },
          {
            "value": "Bree Serif",
            "label": "Bree Serif"
          },
          {
            "value": "Cabin",
            "label": "Cabin"
          },
          {
            "value": "Catamaran",
            "label": "Catamaran"
          },
          {
            "value": "David Libre",
            "label": "David Libre"
          },
          {
            "value": "Dosis",
            "label": "Dosis"
          },
          {
            "value": "Droid Sans",
            "label": "Droid Sans"
          },
          {
            "value": "Droid Serif",
            "label": "Droid Serif"
          },
          {
            "value": "Ek Mukta",
            "label": "Ek Mukta"
          },
          {
            "value": "Fjalla One",
            "label": "Fjalla One"
          },
          {
            "value": "Hind",
            "label": "Hind"
          },
          {
            "value": "Inconsolata",
            "label": "Inconsolata"
          },
          {
            "value": "Indie Flower",
            "label": "Indie Flower"
          },
          {
            "value": "Lato",
            "label": "Lato"
          },
          {
            "value": "Libre Baskerville",
            "label": "Libre Baskerville"
          },
          {
            "value": "Lobster",
            "label": "Lobster"
          },
          {
            "value": "Lora",
            "label": "Lora"
          },
          {
            "value": "Merriweather",
            "label": "Merriweather"
          },
          {
            "value": "Modak",
            "label": "Modak"
          },
          {
            "value": "Montserrat",
            "label": "Montserrat"
          },
          {
            "value": "Muli",
            "label": "Muli"
          },
          {
            "value": "Noto Sans",
            "label": "Noto Sans"
          },
          {
            "value": "Noto Serif",
            "label": "Noto Serif"
          },
          {
            "value": "Nunito",
            "label": "Nunito"
          },
          {
            "value": "Open Sans Condensed",
            "label": "Open Sans Condensed"
          },
          {
            "value": "Oswald",
            "label": "Oswald"
          },
          {
            "value": "Oxygen",
            "label": "Oxygen"
          },
          {
            "value": "PT Sans",
            "label": "PT Sans"
          },
          {
            "value": "PT Sans Narrow",
            "label": "PT Sans Narrow"
          },
          {
            "value": "PT Serif",
            "label": "PT Serif"
          },
          {
            "value": "Pavanam",
            "label": "Pavanam"
          },
          {
            "value": "Playfair Display",
            "label": "Playfair Display"
          },
          {
            "value": "Poppins",
            "label": "Poppins"
          },
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "Roboto",
            "label": "Roboto"
          },
          {
            "value": "Roboto Condensed",
            "label": "Roboto Condensed"
          },
          {
            "value": "Roboto Slab",
            "label": "Roboto Slab"
          },
          {
            "value": "Slabo",
            "label": "Slabo"
          },
          {
            "value": "Source Sans Pro",
            "label": "Source Sans Pro"
          },
          {
            "value": "Teko",
            "label": "Teko"
          },
          {
            "value": "Titillium Web",
            "label": "Titillium Web"
          },
          {
            "value": "Ubuntu",
            "label": "Ubuntu"
          },
          {
            "value": "Yanone Kaffeesatz",
            "label": "Yanone Kaffeesatz"
          },
          {
            "value": "Yatra One",
            "label": "Yatra One"
          }
        ]
      },
      {
        "type": "select",
        "id": "related_popup_text_font_size",
        "label": "Text font size",
        "default": "14",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          },
          {
            "value": "22",
            "label": "22"
          },
          {
            "value": "23",
            "label": "23"
          },
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "25",
            "label": "25"
          },
          {
            "value": "26",
            "label": "26"
          },
          {
            "value": "28",
            "label": "28"
          },
          {
            "value": "29",
            "label": "29"
          },
          {
            "value": "30",
            "label": "30"
          },
          {
            "value": "31",
            "label": "31"
          },
          {
            "value": "32",
            "label": "32"
          },
          {
            "value": "33",
            "label": "33"
          },
          {
            "value": "34",
            "label": "34"
          },
          {
            "value": "35",
            "label": "35"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "37",
            "label": "37"
          },
          {
            "value": "38",
            "label": "38"
          },
          {
            "value": "39",
            "label": "39"
          },
          {
            "value": "40",
            "label": "40"
          },
          {
            "value": "41",
            "label": "42"
          },
          {
            "value": "42",
            "label": "42"
          },
          {
            "value": "43",
            "label": "43"
          },
          {
            "value": "44",
            "label": "44"
          },
          {
            "value": "45",
            "label": "45"
          },
          {
            "value": "46",
            "label": "46"
          },
          {
            "value": "47",
            "label": "47"
          },
          {
            "value": "48",
            "label": "48"
          },
          {
            "value": "49",
            "label": "49"
          },
          {
            "value": "50",
            "label": "50"
          },
          {
            "value": "51",
            "label": "51"
          },
          {
            "value": "52",
            "label": "52"
          },
          {
            "value": "53",
            "label": "53"
          },
          {
            "value": "54",
            "label": "54"
          },
          {
            "value": "55",
            "label": "55"
          },
          {
            "value": "56",
            "label": "56"
          },
          {
            "value": "57",
            "label": "57"
          },
          {
            "value": "58",
            "label": "58"
          },
          {
            "value": "59",
            "label": "59"
          },
          {
            "value": "60",
            "label": "60"
          }
        ]
      },
      {
        "type": "text",
        "id": "r_add_to_cart_button_text",
        "label": "Add to cart button text",
        "default": "Add to cart"
      },
      {
        "type": "color",
        "id": "r_continue_shoping_color",
        "label": "Continue shopping button color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "r_view_cart_color",
        "label": "View cart button color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "r_checkout_color",
        "label": "Checkout button color",
        "default": "#fff"
      }

],
"blocks": [
      {
        "type": "Upsell",
        "name": "Upsell",
        "settings": [
            {
            "type": "collection",
            "id": "upsell_related_collection",
            "label": "Upsell"
            },
            {
            "type": "collection",
            "id": "show_upsell_related_collection",
            "label": "Show For Upsell"
            }
        ]
      }
    ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
