<Style>
#shopify-section-{{section.id}} #sale_button_home{
    color:{{section.settings.button_text}} !important;
    background-color:{{section.settings.button_background_color}} !important;
    
  }
#shopify-section-{{section.id}} #sale_button_home:hover{
    color:{{section.settings.button_hover_text_color}} !important;
    background-color:{{section.settings.button_hover_back_color}} !important;
    
  }  
#shopify-section-{{section.id}} .btn {
   padding: 16px 15px !important;
    margin-top: 30px;
}
  
</Style>


<div id="shopify-section-[id]" class="shopify-section sale_button">

  <div class="text-center">
    <a href="{{section.settings.button_link}}" id="sale_button_home" class="btn btn--secondary  btn--has-icon-before return-link {% if section.settings.button_size == 'medium' %} medium {% endif %}  {% if section.settings.button_size == 'large' %} large {% endif %}">
    {{ section.settings.button_label }}
    </a>
  </div>
  
  
</div>
{% schema %}
  {
    "name": "sale button",  
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "label": "Button text",
        "default": "BUY IT NOW"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "button_text",
        "label": "Button text color",
        "default": "#fff" 
      },
      {
        "type": "color",
        "id": "button_background_color",
        "label": "Button background color",
        "default": "#a9aca9" 
      },
      {
        "type": "color",
        "id": "button_hover_text_color",
        "label": "Button hover text color",
        "default": "#fff" 
      },
      {
        "type": "color",
        "id": "button_hover_back_color",
        "label": "Button hover background color",
        "default": "#dcdcdc" 
      },
      {
        "type": "select",
        "id": "button_size",
        "label": "Button size",
        "default": "small",
        "options": [
          {
            "value": "small",
            "label": "small"
          },
          {
            "value": "medium",
            "label": "medium"
          },
          {
            "value": "large",
            "label": "large"
          }
        ]
      }

     ],
    "presets": [
      {
        "name": "Sale button setting",
        "category": "Sale button"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
