<style>
.timer_default_on_home{
text-align: center !important;
    margin: 0 auto;
      float: none;
}
  #shopify-section-{{ section.id }} .timer_heading{
    color: {{ section.settings.heading_color }};
    font-size:{{ section.settings.title_font_size }}px !important;
  } 
  .home_tm_lbl_cok
  {
    width: 23.5%;
    float: left;
  }
  span.home_tm_sap_cok {
    font-size: 30px;
    float: left;
}
</style>




{% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
   
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
    
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
 
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
    
  {% endcase %}




<div id="shopify-section-[id]" class="shopify-section sale_button" data-section-id="{{ section.id }}">
  <div class="grid container wrapper">
    <div class="grid__item {{ product_image_width }} timer_default_on_home">

    {% include 'defualt_timer_home' %}
   {% comment %}   {% endcomment %}
    </div>
  </div></div>

{% schema %}
  {
    "name": "Timer",
    "settings": [
       {
         "type":"header",
          "content":"Timer"
       },
        {
          "type": "paragraph",
          "content" : "Enable timer reset every day(custom left number)- So you can set that at (22:00:00) it reset every day"  
        }, 
         {
        "type": "text",
        "id": "enable_timer_reset_every_day",
        "label": "Enable timer  reset every day(HH:mm:ss)",
        "default": "10:00:00",
        "info": "user put time 24 hours- example: 15:00:00 ,09:09:10, 01:01:01"
       }, 
       {
         "type": "header",
         "content": "timer setting"
       },         
      {
        "type": "select",
        "id": "image_size",
        "label": "timer size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "radio",
        "id": "enable_timer_model",
        "options": [
          {
            "value": "timer_model1",
            "label": "Model 1"
          },
          {
            "value": "timer_model2",
            "label": "Model 2"
          },
          {
            "value": "timer_model3",
            "label": "Model 3"
          },
          {
            "value": "timer_model5",
            "label": "Model 4"
          },
          {
            "value": "timer_model6",
            "label": "Model 5"
          }
        ],
        "label": "Timer Model Type"
      }
     ], 
       "presets":[
        { "name": "Timer setting",
         "category": "Timer"
         }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
