{%- layout none -%}<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel> 
    <title>{{ shop.name | escape }} Products</title>
    <description>The ultimate product feed for Facebook</description> 
    <link>{{ shop.secure_url }}</link>
    <atom:link href="{{shop.secure_url}}/pages/pp-facebook" rel="self" type="application/rss+xml" />

    {%- assign pp_niche = 'on' -%} 

    {%- if shop.metafields.pixelperfect.settings != null -%}
        {%- assign appsettings = shop.metafields.pixelperfect.settings | remove: "[{" | remove: "}]" | strip | replace: '","', '"|||"' | split: '|||' -%}
        {%- for appsettingpair in appsettings -%}
            {%- assign appsetting = appsettingpair | strip | split: " : " -%}
            {%- if appsetting[0] contains ":" -%}
                {%- assign appsetting = appsettingpair | strip | split: ":" -%}
            {%- endif -%}
            {%- capture main -%}{{ appsetting[0] | replace: '"', ''}}{%- endcapture -%}
            {%- case main -%}
            {%- when 'pp_tracking_pixel_activated' -%}
                {%- assign pp_tracking_pixel = appsetting[1] | replace: '"', '' -%}
            {%- endcase-%}
        {%- endfor -%}
    {%- else -%}
        {%- assign pp_niche = 'on' -%} 
        {%- assign pp_tracking_pixel = 'off' -%}
    {%- endif -%}

    {%- if shop.metafields.pixelperfect.feedsettings != null -%}
        {%- assign feedsettings = shop.metafields.pixelperfect.feedsettings | remove: "[{" | remove: "}]" | strip | replace: '","', '"|||"' | split: '|||' -%}
        {%- for settingpair in feedsettings -%}
            {%- assign setting = settingpair | strip | split: " : " -%}
            {%- capture main -%}{{ setting[0] | replace: '"', ''}}{%- endcapture -%}
            {%- case main -%}
                {%- when 'pp_feed_include_variants' -%}
                    {%- assign pp_variants = setting[1] | replace: '"', '' -%}
                {%- when 'pp_feed_pagination' -%}
                    {%- assign pp_paginate = setting[1] | replace: '"', '' -%}
                {%- when 'pp_feed_lowercase' -%}
                    {%- assign pp_lowercase = setting[1] | replace: '"', '' -%}
                {%- when 'pp_feed_google_category' -%}
                    {%- assign pp_googlecategory = setting[1] | replace: '"', '' -%}
                {%- when 'pp_feed_crop' -%}
                    {%- assign pp_crop = setting[1] | replace: '"', '' -%}
                {%- when 'pp_feed_fbcustom' -%}
                    {%- assign pp_fbcustom = setting[1] | replace: '"', '' -%}
                {%- when 'pp_feed_extimages' -%}
                    {%- assign pp_extimages = setting[1] | replace: '"', '' -%}
                {%- when 'pp_feed_exturl' -%}
                    {%- assign pp_exturl = setting[1] | append: '/' | replace: '"', '' | replace: ' ', '' | replace: '\/', '/' -%}
                {%- when 'pp_feed_synccol' -%}
                    {%- assign pp_synccol = setting[1] | replace: '"', '' -%}
            {%- endcase-%}
        {%- endfor -%}

        {%- if shop.metafields.pixelperfect.googlecategories != null -%}
            {%- assign pp_google_category = shop.metafields.pixelperfect.googlecategories -%}
        {%- endif-%}
    {%- else -%}
        {%- assign pp_paginate = '1000' -%}
        {%- assign pp_variants = 'off' -%}
        {%- assign pp_lowercase = 'off' -%} 
        {%- assign pp_tagging = 'on' -%}
        {%- assign pp_crop = 'off' -%} 
        {%- assign pp_fbcustom = 'off' -%} 
        {%- assign pp_extimages = 'off' -%} 
        {%- assign pp_synccol = 'all' -%}
    {%- endif -%} 

    {%- if pp_niche contains 'on' -%}
        {%- if shop.metafields.facebook.custom_label_0 != null -%}
            {%- assign pp_label_0 = shop.metafields.facebook.custom_label_0 -%}
        {%- else -%}
            {%- assign pp_label_0 = 'Custom Label 0 is empty' -%}
        {%- endif -%}

        {%- if shop.metafields.facebook.custom_label_1 != null -%}
            {%- assign pp_label_1 = shop.metafields.facebook.custom_label_1 -%}
        {%- else -%}
            {%- assign pp_label_1 = 'Custom Label 1 is empty' -%}
        {%- endif -%}

        {%- if shop.metafields.facebook.custom_label_2 != null -%}
            {%- assign pp_label_2 = shop.metafields.facebook.custom_label_2 -%}
        {%- else -%}
            {%- assign pp_label_2 = 'Custom Label 2 is empty' -%}
        {%- endif -%}

        {%- if shop.metafields.facebook.custom_label_3 != null -%}
            {%- assign pp_label_3 = shop.metafields.facebook.custom_label_3 -%}
        {%- else -%}
            {%- assign pp_label_3 = 'Custom Label 3 is empty' -%}
        {%- endif -%}
    {%- endif -%}

    {%- paginate collections[pp_synccol].products by pp_paginate -%}

        {%- for product in collections[pp_synccol].products -%}
            {%- if pp_variants contains 'on' -%}
                {%- for variant in product.variants -%}
                    <item>
                        {%- if pp_tracking_pixel contains 'shopify' -%}
                            <g:id>{{ variant.id }}</g:id>
                        {%- else -%}
                            <g:id>shopify_{{ product.id }}_{{ variant.id }}</g:id>
                        {%- endif -%}

                        {%- if pp_lowercase contains 'on' -%}
                            <g:title>{{ product.title | strip_html | downcase | capitalize | strip_newlines | truncate: 150, "" | escape }}</g:title>
                            <g:description>{{ product.description | strip_html | downcase | capitalize | strip_newlines | truncate: 150, "" | escape }}</g:description>
                        {%- else -%}
                            <g:title>{{ product.title | strip_html | strip_newlines | escape | truncate: 150, "" }}</g:title>
                            <g:description>{{ product.description | strip_html | strip_newlines | truncate: 150, "" | escape }}</g:description>
                        {%- endif -%}

                        <g:link>{{ shop.secure_url }}{{ product.url }}</g:link>

                        {%- if pp_extimages contains 'on' or pp_extimages contains 'tags' -%}
                            {%- if pp_extimages contains 'tags' -%}
                                {%- for tag in product.tags -%}
                                    {%- if tag contains 'external_image' -%}
                                        <g:image_link>{{ pp_exturl | append: product.handle | append: '.jpg' }}</g:image_link> 
                                    {%- else -%}
                                        {%- if pp_crop contains 'on' -%}
                                            <g:image_link>https:{{ product.featured_image | product_img_url: '600x600', crop: 'center' }}</g:image_link>
                                        {%- else -%}
                                            <g:image_link>https:{{ product.featured_image | product_img_url: 'grande' }}</g:image_link>
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- else -%}
                                <g:image_link>{{ pp_exturl | append: product.handle | append: '.jpg' }}</g:image_link> 
                            {%- endif -%}
                        {%- else -%}
                            {%- if pp_crop contains 'on' -%}
                                <g:image_link>https:{{ product.featured_image | product_img_url: '600x600', crop: 'center' }}</g:image_link>
                            {%- else -%}
                                <g:image_link>https:{{ product.featured_image | product_img_url: 'grande' }}</g:image_link>
                            {%- endif -%}
                            {%- if pp_extimages contains 'off' -%}
                                {% for image in product.images %}
                                <g:additional_image_link>https:{{ image | img_url: 'grande'}}</g:additional_image_link>
                                {% endfor %}
                            {%- endif -%}
                        {%- endif -%}

                        <g:brand>{{ product.vendor | escape }}</g:brand>
                        <g:condition>new</g:condition>
                        <g:item_group_id>{{ product.id }}</g:item_group_id>

                        {%- if product.available -%}
                            <g:availability>in stock</g:availability>
                        {%- else -%}
                            <g:availability>out of stock</g:availability>
                        {%- endif -%}

                        {%- if product.metafields.google.google_product_type -%}
                            <g:google_product_category>{{ product.metafields.google.google_product_type | escape }}</g:google_product_category>
                        {%- else -%}
                            {%- if pp_google_category -%}
                                <g:google_product_category>{{ pp_google_category | escape }}</g:google_product_category>
                            {%- endif -%}
                        {%- endif -%}

                        {%- if pp_niche contains 'on' -%}
                            {%- assign pp_tag = product.type -%}

                            {%- for tag in product.tags -%}
                                {%- if tag contains "pp_" -%}
                                    {%- capture pp_tmp -%}{{ tag | remove: "pp_" | capitalize | prepend: ',' }}{%- endcapture -%}
                                    {%- capture pp_tag -%}{{ product.type | append: pp_tmp }}{%- endcapture -%}
                                {%- endif -%}
                            {%- endfor -%}
                        {%- else -%}
                            {%- assign pp_tag = product.type -%}
                        {%- endif -%}

                        <g:product_type>{{ pp_tag | escape }}</g:product_type>
                        <g:price>{{ product.price | money_without_currency }}{{ shop.currency }}</g:price>
                    </item>
                {%- endfor -%}
            {%- else -%}
                <item>
                    {%- if pp_tracking_pixel contains 'shopify' -%}
                        <g:id>{{ product.id }}</g:id>
                    {%- else -%}
                        <g:id>shopify_{{ product.id }}</g:id>
                    {%- endif -%}

                    {%- if pp_lowercase contains 'on' -%}
                        <g:title>{{ product.title | strip_html | downcase | capitalize | strip_newlines | truncate: 150, "" | escape  }}</g:title>
                        <g:description>{{ product.description | strip_html | downcase | capitalize | strip_newlines | truncate: 150, "" | escape  }}</g:description>
                    {%- else -%}
                        <g:title>{{ product.title | strip_html | strip_newlines | escape | truncate: 150, "" }}</g:title>
                        <g:description>{{ product.description | strip_html | strip_newlines | truncate: 150, "" | escape }}</g:description>
                    {%- endif -%}

                    <g:link>{{ shop.secure_url }}{{ product.url }}</g:link>

                    {%- if pp_extimages contains 'on' or pp_extimages contains 'tags' -%}
                        {%- if pp_extimages contains 'tags' -%}
                            {%- for tag in product.tags -%}
                                {%- if tag contains 'external_image' -%}
                                    <g:image_link>{{ pp_exturl | append: product.handle | append: '.jpg' }}</g:image_link> 
                                {%- else -%}
                                    {%- if pp_crop contains 'on' -%}
                                        <g:image_link>https:{{ product.featured_image | product_img_url: '600x600', crop: 'center' }}</g:image_link>
                                    {%- else -%}
                                        <g:image_link>https:{{ product.featured_image | product_img_url: 'grande' }}</g:image_link>
                                    {%- endif -%}
                                {%- endif -%}
                            {%- endfor -%}
                        {%- else -%}
                            <g:image_link>{{ pp_exturl | append: product.handle | append: '.jpg' }}</g:image_link> 
                        {%- endif -%}
                    {%- else -%}
                        {%- if pp_crop contains 'on' -%}
                            <g:image_link>https:{{ product.featured_image | product_img_url: '600x600', crop: 'center' }}</g:image_link>
                        {%- else -%}
                            <g:image_link>https:{{ product.featured_image | product_img_url: 'grande' }}</g:image_link>
                        {%- endif -%}
                        {%- if pp_extimages contains 'off' -%}
                            {% for image in product.images %}
                                {% if forloop.first == true %}
                                {% else %}
                                    <g:additional_image_link>https:{{ image | img_url: 'grande'}}</g:additional_image_link>
                                {% endif %}
                            {% endfor %}
                        {%- endif -%}                        
                    {%- endif -%}
                    
                    <g:brand>{{ product.vendor | escape }}</g:brand>
                    <g:condition>new</g:condition>
                    <g:item_group_id>{{ product.id }}</g:item_group_id>

                    {%- if product.available -%}
                        <g:availability>in stock</g:availability>
                    {%- else -%}
                        <g:availability>out of stock</g:availability>
                    {%- endif -%}

                    {%- if product.metafields.google.google_product_type -%}
                        <g:google_product_category>{{ product.metafields.google.google_product_type | escape }}</g:google_product_category>
                    {%- else -%}
                        {%- if pp_google_category -%}
                            <g:google_product_category>{{ pp_google_category | escape }}</g:google_product_category>
                        {%- endif -%}
                    {%- endif -%}

                    {%- if pp_niche contains 'on' -%}
                        {%- assign pp_tag = product.type -%}
                        {%- for tag in product.tags -%}
                            {%- if tag contains "pp_" -%}
                                {%- capture pp_tmp -%}{{ tag | remove: "pp_" | capitalize | prepend: ',' }}{%- endcapture -%}
                                {%- capture pp_tag -%}{{ product.type | append: pp_tmp }}{%- endcapture -%}
                            {%- endif -%}
                        {%- endfor -%}

                        {%- if product.metafields.google.custom_label_0 != null -%}
                            <g:custom_label_0>{{ product.metafields.google.custom_label_0 }}</g:custom_label_0>
                        {%- else -%}
                            {%- if product.metafields.mm-google-shopping.custom_label_0 != null -%}
                                <g:custom_label_0>{{ product.metafields.mm-google-shopping.custom_label_0 }}</g:custom_label_0>
                            {%- else -%}
                                <g:custom_label_0>{{ pp_label_0 }}</g:custom_label_0>
                            {%- endif -%}
                        {%- endif -%}
                        {%- if product.metafields.google.custom_label_1 != null -%}
                            <g:custom_label_1>{{ product.metafields.google.custom_label_1 }}</g:custom_label_1>
                        {%- else -%}
                            {%- if product.metafields.mm-google-shopping.custom_label_1 != null -%}
                                <g:custom_label_1>{{ product.metafields.mm-google-shopping.custom_label_1 }}</g:custom_label_1>
                            {%- else -%}
                                <g:custom_label_1>{{ pp_label_1 }}</g:custom_label_1>
                            {%- endif -%}
                        {%- endif -%}
                        
                        {%- if product.metafields.google.custom_label_2 != null -%}
                            <g:custom_label_2>{{ product.metafields.google.custom_label_2 }}</g:custom_label_2>
                        {%- else -%}
                            {%- if product.metafields.mm-google-shopping.custom_label_2 != null -%}
                                <g:custom_label_2>{{ product.metafields.mm-google-shopping.custom_label_2 }}</g:custom_label_2>
                            {%- else -%}
                                <g:custom_label_2>{{ pp_label_2 }}</g:custom_label_2>
                            {%- endif -%}
                        {%- endif -%}

                        {%- if product.metafields.google.custom_label_3 != null -%}
                            <g:custom_label_3>{{ product.metafields.google.custom_label_3 }}</g:custom_label_3>
                        {%- else -%}
                            {%- if product.metafields.mm-google-shopping.custom_label_3 != null -%}
                                <g:custom_label_3>{{ product.metafields.mm-google-shopping.custom_label_3 }}</g:custom_label_3>
                            {%- else -%}
                                <g:custom_label_3>{{ pp_label_3 }}</g:custom_label_3>
                            {%- endif -%}
                        {%- endif -%}

                        <g:custom_label_4>{{ pp_tag | escape }}</g:custom_label_4>
                  {%- else -%}
                        {%- assign pp_tag = product.type -%}

                        {%- if product.metafields.google.custom_label_0 != null -%}
                            <g:custom_label_0>{{ product.metafields.google.custom_label_0 }}</g:custom_label_0>
                        {%- else -%}
                            {%- if product.metafields.mm-google-shopping.custom_label_0 != null -%}
                                <g:custom_label_0>{{ product.metafields.mm-google-shopping.custom_label_0 }}</g:custom_label_0>
                            {%- else -%}
                                <g:custom_label_0>{{ pp_label_0 }}</g:custom_label_0>
                            {%- endif -%}
                        {%- endif -%}
                        {%- if product.metafields.google.custom_label_1 != null -%}
                            <g:custom_label_1>{{ product.metafields.google.custom_label_1 }}</g:custom_label_1>
                        {%- else -%}
                            {%- if product.metafields.mm-google-shopping.custom_label_1 != null -%}
                                <g:custom_label_1>{{ product.metafields.mm-google-shopping.custom_label_1 }}</g:custom_label_1>
                            {%- else -%}
                                <g:custom_label_1>{{ pp_label_1 }}</g:custom_label_1>
                            {%- endif -%}
                        {%- endif -%}
                        
                        {%- if product.metafields.google.custom_label_2 != null -%}
                            <g:custom_label_2>{{ product.metafields.google.custom_label_2 }}</g:custom_label_2>
                        {%- else -%}
                            {%- if product.metafields.mm-google-shopping.custom_label_2 != null -%}
                                <g:custom_label_2>{{ product.metafields.mm-google-shopping.custom_label_2 }}</g:custom_label_2>
                            {%- else -%}
                                <g:custom_label_2>{{ pp_label_2 }}</g:custom_label_2>
                            {%- endif -%}
                        {%- endif -%}

                        {%- if product.metafields.google.custom_label_3 != null -%}
                            <g:custom_label_3>{{ product.metafields.google.custom_label_3 }}</g:custom_label_3>
                        {%- else -%}
                            {%- if product.metafields.mm-google-shopping.custom_label_3 != null -%}
                                <g:custom_label_3>{{ product.metafields.mm-google-shopping.custom_label_3 }}</g:custom_label_3>
                            {%- else -%}
                                <g:custom_label_3>{{ pp_label_3 }}</g:custom_label_3>
                            {%- endif -%}
                        {%- endif -%}

                        <g:custom_label_4>{{ pp_tag | escape }}</g:custom_label_4>
                    {%- endif -%}

                    <g:product_type>{{ pp_tag | escape }}</g:product_type>
                    <g:price>{{ product.price | money_without_currency }}{{ shop.currency }}</g:price>
                </item>
            {%- endif -%}
        {%- endfor -%}
    {%- endpaginate -%}
</channel>
</rss>
